/* Reset */
*{
	margin: 0px;
	padding: 0px;
}

header, section, footer, nav, aside, article, hgroup{
	display:block;
}
body{
	text-align:center; /* behövs för äldre browsers för att få allt centrerat */
	
	background-image: url(pics/wood2.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;

}
/* Sidans huvuddel, alltså allt utom body bakgrunden */
#divbody{
	background-color: ;
	border: none;
	width: 1000px;
	margin: 150px auto;
	text-align:left;
}
/* gamedates.net - banner */

#banner {
	background-image:url('pics/banner.png');
	width:581px;
	height:156px;
	margin-bottom: -86px;
	background-repeat: no-repeat;
}

/* ramar in sidan */
#thecontent {
	background-color: #4191ce;
	border: none;
	width: 1000px;
	height: auto;
	margin: 0px auto;
	text-align:left;
}

/* Menyn */
#menu {
	margin: 0px;
	color: white;
}
#menu li {
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 40px;
}

#menu li a {
	font: 22px calibri;
}

#menu li a:link{
	color: white;
	text-decoration: none;
}
#menu li a:visited{
	color: white;
	text-decoration: none;
}
#menu li a:hover{
	color: white;
	background-color: #4191ce;
	text-decoration: none;
}
.start {
	background-color: #0a61a4;
	padding:40px 48px;
}
.calendar{
	background-color: #0a61a4;
	padding: 40px 28px;
}
.about{
	background-color: #0a61a4;
	padding:40px 43px;
}
#active{
	background: #4191ce;

}

/* Rutan längst ned på hela sidan */
#thefooter{
	clear:both;
	font: 13px calibri italic;
	padding:10px;
	background: #0a61a4;
	color: white;
	margin-top:10px;
}

/* Centrerar bildspelet */
#bildspel {
	display: block;
	margin: 0px auto;
	padding-top: 20px;
}


/* About strukturen */
article header h1 {
	
	padding: 15px 0px;
	background-color: #0a61a4;
	width: 260px;
	color: white;
	font: 22px calibri;
	text-align: center;

}
article header h2 {
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #0a61a4;
	width: 260px;
	color: white;
	font: 18px calibri;
	text-align: center;

}
article section {
	margin-bottom: 15px;
	width: 615px;
	padding: 15px;
	background-color: #66a2d1;
	font: 16px calibri;
	color: white;
}

article img {
	float: right;
	margin-right: 20px;
	height:385px;
}

/* En liten box som gör att sidans content ligger 10px från loggan och menyn */
.box {
	background: #4191ce;
	padding: 10px 0px;
}

/* Startsidans tabell */
.anticipated {
	margin-bottom: 15px;
	width: auto;
	padding: 15px;
	background-color: #4191ce;
	font: 16px calibri;
	color: white;
}
.anticipated table {
	margin: -15px;
	width: auto;
	font: 18px calibri;
}
.anticipated tr {
	background-color:#66a2d1;
}
.anticipated .tdate {
	padding:5px 65px;
	width: 105px;
}

/* Starttabellens toggleklasser */
.show {
	display: block;
}

.hide {
	display: none;
}

/* Så användaren ska veta att det går att klicka på toggleknappen */
#hidebutton {
 cursor: pointer;

}
/* Månadsboxarna som man trycker på för att toggla innehållet */
.mbars {
	text-align:left;
	padding:15px 0px;
	background:#0a61a4;
	margin-bottom: 1px;
}

.mbars a:link{
	padding: 15px 875px 15px 25px;
	color: white;
	text-decoration: none;
	font: 22px calibri;
	background-color: #0a61a4;

}
.mbars a:visited{
	color: white;
	text-decoration: none;
}
.mbars a:hover{
	color: white;
	background-color: #0a61a4;
	text-decoration: none;
}

div.mydivs {
	background: #66a2d1;
	width: auto;
	height: 0px;
	overflow:hidden;
}

div.mydivs > table {
	padding:4px 16px;
	background: #66a2d1;
	margin-bottom: 1px;
}
table {
	width: auto;
	font: 18px calibri;
	color:white;
}
tr {
	background-color:#66a2d1;
}
td {
	padding:10px 50px;
	vertical-align:top;
	width:340px;
}

/* Bilderna i månadstabellerna */
.calenderbild {
	height: 80px;
	width: 60px;
	text-align: right;
}

/* td som innehåller bild */
.timg {
	width: 60px;
}

/* td som innehåller vilken platform spelet kommer till */
.tplatform {
	width: 85px;
}
/* td som innehåller datum */
.tdate {
	width: 105px
}
/* Om inga spel kommer ut en månad har den denna klass */
.norelease {
	width: 1000px;
}

/* Kalendersidans toggleklasser */
div.chide {
	display: none;
	background: #66a2d1;
	width: 0px;
	height: 0px;
	visibility: hidden;
}

div.chide > p {
	display: none;
	
}

































.printonly{
	display: none;
}