/* Reset */
*{
	margin: 0px;
	padding: 0px;
}

header, section, footer, nav, aside, article, hgroup{
	display:block;
}
body{
	text-align:center; /* behövs för äldre browsers för att få allt centrerat */
	
	background-image: url(pics/wood2.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;

}
/* Sidans huvuddel, alltså allt utom body bakgrunden */
#divbody{
	background-color: ;
	border: none;
	width: 1000px;
	margin: 150px auto;
	text-align:left;
}
/* Topruta - banner */

#banner {
	background-image:url('pics/banner.png');
	width:581px;
	height:156px;
	margin-bottom: -86px;
	background-repeat: no-repeat;
}
#thecontent {
	background-color: #4191ce;
	border: none;
	width: 1000px;
	height: auto;
	margin: 0px auto;
	text-align:left;
}
#menu {
	margin: 0px;
	color: white;
}
#menu li {
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 40px;
}

#menu li a {
	font: 22px calibri;
}

#menu li a:link{
	color: white;
	text-decoration: none;
}
#menu li a:visited{
	color: white;
	text-decoration: none;
}
#menu li a:hover{
	color: white;
	background-color: #4191ce;
	text-decoration: none;
}
.start {
	background-color: #0a61a4;
	padding:40px 48px;
}
.calendar{
	background-color: #0a61a4;
	padding: 40px 28px;
}
.about{
	background-color: #0a61a4;
	padding:40px 43px;
}
#active{
	background: #4191ce;

}

/* Rutan längst ned på hela sidan */
#thefooter{
	clear:both;
	font: 13px calibri italic;
	padding:10px;
	background: #0a61a4;
	color: white;
	margin-top:10px;
}

/* centrerar bildspelet */
#bildspel {
	display: block;
	margin: 0px auto;
	padding-top: 20px;
}


#buttons {
	margin: 0px;
	color: white;
}
#buttons li {
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 40px;
}

.prev {
	font: 22px calibri;
	background-color:#66a2d1;
	padding:10px 35px;
	text-align: center;
	float:right;
	
}
.next {
	font: 22px calibri;
	background-color:#66a2d1;
	padding:10px 50px;
	text-align: center;
	float:left;
	margin-left: 710px;
	
	
}

#buttons li a:link{
	color: white;
	text-decoration: none;
}
#buttons li a:visited{
	color: white;
	text-decoration: none;
}
#buttons li a:hover{
	color: white;
	background-color: #0a61a4;
	text-decoration: none;
}

article header h1 {
	
	padding: 15px 0px;
	background-color: #0a61a4;
	width: 250px;
	color: white;
	font: 22px calibri;
	text-align: center;

}

article section {
	margin-bottom: 15px;
	width: 615px;
	padding: 15px;
	background-color: #66a2d1;
	font: 16px calibri;
	color: white;
}

.anticipated {
	margin-bottom: 15px;
	width: auto;
	padding: 15px;
	background-color: #66a2d1;
	font: 16px calibri;
	color: white;
}

article img {
	float: right;
	margin-right: 20px;
	height:385px;
}

.box {
	background: #4191ce;
	padding: 10px 0px;

}

table {
	margin: -15px;
	width: auto;
	font: 18px calibri;

}
tr {
	background-color:#66a2d1;
}
td {
	padding:5px 65px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

#hidebutton {
 cursor: pointer;

}


















































.printonly{
	display: none;
}